@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: noto-regular;
    src: url(./font/Noto_Sans/NotoSans-Regular.ttf);
}
@font-face {
    font-family: noto-bold;
    src: url(./font/Noto_Sans/NotoSans-Bold.ttf);
}